<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened><mat-list role="list">
            <mat-list-item role="listitem" routerLink="first">First</mat-list-item>
            <mat-list-item role="listitem" routerLink="second">Second</mat-list-item>
            <mat-list-item role="listitem" routerLink="third">Third</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>